<html>
	<head>
		<title>{{ user['name'] }} ({{ user['screen_name'] }}) on Twitter</title>
	</head>
	
	<body>
		<div>
			<a href="/logout">Sign out</a>
		</div>
		<div>
			<img src="{{ user['profile_image_url'] }}" style="float:left" />
			<h2>About @{{ user['screen_name'] }}</h2>
			<p style="clear:both"><em>{{ user['description'] }}</em></p>
		</div>
		<div>
			<ul>
				<li>{{ user['statuses_count'] }} tweets.</li>
				<li>{{ user['followers_count'] }} followers.</li>
				<li>Following {{ user['friends_count'] }} users.</li>
			</ul>
		</div>
		{% if 'status' in user %}
			<hr />
			<div>
				<p>
					<strong>{{ user['screen_name'] }}</strong>
					<em>on {{ ' '.join(user['status']['created_at'].split()[:2]) }}
						at {{ user['status']['created_at'].split()[3] }}</em>
				</p>
				<p>{{ user['status']['text'] }}</p>
			</div>
		{% end %}
	</body>
</html>